* {
    font-family: 'montserratthin Regular 400';
}

@font-face {
    font-family: 'alergianormal-regularregular';
    src: url('../fonts/alergianormal-regular-webfont.woff2') format('woff2'),
    url('../fonts/alergianormal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'londrina_shadowregular';
    src: url('../fonts/londrinashadow-regular-webfont.woff2') format('woff2'),
    url('../fonts/londrinashadow-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.col-sm {
    font-size: 0;
}

.col-sm a {
    margin-right: 15px;
}

.sidebar-nav {
    font-size: 0;
    padding-top: 50px;
}

.sidebar-nav a {
    color: black;
    padding: 0px 11px 0px;
    font-style: normal;
    font-size: 18pt;
    text-decoration: none;
}

.sidebar-nav a:hover {
    color: red;
}

.title_genres_h2 {
    font-size: 28px;
    margin-left: 9px;
}

.title_genres_ul {
    padding-left: 9px;
    list-style-type: none;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.title_genres_ul a {
    color: black;
    text-decoration: none;
}

.title_genres_ul a:hover {
    color: red;
    text-decoration: none;
    background-color: #E1DDE078;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: #E1DDE078;
    padding: 2px 5px;
}

.title_genres_ul li {
    padding-bottom: 6px;
}

.selected_genre {
    color: red;
    text-decoration: none;
    background-color: #E1DDE078;
    border-style: solid;
    border-width: thin;
    border-radius: 4px;
    border-color: #E1DDE078;
    padding: 2px 5px;
}

.title_all_books {
    font-size: 28px;
    margin-bottom: 15px;
    padding-left: 19px;
}

.line {
    float: left;
    list-style-type: none;
    padding-left: 1rem;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    font-size: 16px;
    outline: none;
    height: 50px;
    overflow: hidden;
}

.author {
    font-size: 14px;
    color: gray;
    outline: none;
    height: 20px;
    overflow: hidden;
}

.cost {
    font-size: 22px;
    text-align: left;
}

#in-book {
    width: 95%;
    min-height: 420px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #E1DDE0;
    padding: 10px 0;
    position: relative;
    min-width: 185.4px;
}

#img-book {
    max-height: 217px;
    min-height: 217px;
    max-width: 153px;
    min-width: 153px
}

#detail {
    width: 98px;
    background-color: #DECC95FF;
    border-color: #DECC95FF;
    color: white;
}

#detail:hover {
    color: white;
    background-color: #DECC70FF;
}

#order {
    width: 98px;
    background-color: red;
    border-color: red;
}

#order:hover {
    color: white;
    background-color: #E70000FF;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:target {
    box-shadow: none;
}

#books {
    padding-left: 0;
    padding-right: 0;
}

.books {
    color: black;
    text-decoration: none;
}

.books:hover {
    color: red;
}

.return {
    margin-left: 32px;
}

.back {
    color: gray;
    max-width: 75px;
    text-align: center;
    font-size: 17px;
}

.back:hover {
    color: red;
    padding: 0 5px;
}

/*.logo {*/
/*    !* Vector 1 *!*/

/*    position: absolute;*/
/*    width: 102.08px;*/
/*    height: 92.24px;*/
/*    border: 3px solid #000000;*/
/*}*/

/*.title_site {*/
/*    !* BookStore *!*/

/*    position: absolute;*/
/*    width: 341px;*/
/*    height: 106px;*/
/*    font-family: 'londrina_shadowregular';*/
/*    font-style: normal;*/
/*    font-weight: 400;*/
/*    font-size: 85px;*/
/*    line-height: 101px;*/
/*    text-align: center;*/
/*    color: #000000;*/
/*}*/