@font-face {
    font-family: 'alergianormal-regularregular';
    src: url('../fonts/alergianormal-regular-webfont.woff2') format('woff2'),
    url('../fonts/alergianormal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('../fonts/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
    url('../fonts/montserrat-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container-fluid {
    font-family: 'montserratthin Regular 400';
}

.col-sm {
    font-size: 0;
}

.col-sm a {
    margin-right: 15px;
}

.sidebar-nav {
    font-size: 0;
    padding-top: 50px;
}

.sidebar-nav a {
    color: black;
    padding: 0px 11px 0px;
    font-style: normal;
    font-size: 18pt;
    text-decoration: none;
}

.sidebar-nav a:hover {
    color: red;
}

.title_genres_h2 {
    font-family: 'montserratthin Regular 400';
    font-size: 28px;
}

.title_genres_ul {
    padding-left: 10px;
    list-style-type: none;
}

.title_all_books {
    font-family: 'montserratthin Regular 400';
    font-size: 28px;
    margin-bottom: 15px;
    padding-left: 19px;
}

.line {
    float: left;
    list-style-type: none;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    font-family: 'montserratthin Regular 400';
    font-size: 16px;
    outline: none;
    height: 50px;
    overflow: hidden;
}

.author {
    font-family: 'montserratthin Regular 400';
    font-size: 14px;
    color: gray;
}

.cost {
    font-family: 'montserratthin Regular 400';
    font-size: 22px;
    text-align: left;
}

#in-book {
    width: 95%;
    min-height: 420px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: #E1DDE0;
    padding: 10px 0;
    position: relative;
}

#img-book {
    max-height: 217px;
    min-height: 217px;
    max-width: 153px;
    min-width: 153px
}

#detail {
    width: 98px;
    background-color: #DECC95FF;
    border-color: #DECC95FF;
    color: white;
}

#order {
    width: 98px;
    background-color: red;
    border-color: red;
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:target {
    box-shadow: none;
}