{% extends "base_generic.html" %}

{% block content %}
<div class="row">
    <div class="return"><a href="{% url 'catalog:home' %}" class="back">Главная</a><span style="color: gray; padding: 0 3px"> > </span>
        <a href="{% url 'catalog:catalog' %}" class="back">Все жанры</a></div>
</div>
<div class="row" style="margin: 0 10px;">
    {% if genre %}
    <div class="col-sm-4">
        <h2 class="title_genres_h2">Выбранный жанр</h2>
        <ul class="title_genres_ul">
            {% for genre in genre %}
            <li>{{ genre.name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-sm-8" style="padding-left: 0; padding-right: 0">
        <div class="title_all_books"><b>Все книги этой категории</b></div>
        <ul class="line">
            {% for genre in genre %}
            {% for book in genre.genre_book.all %}
            <li class="col-sm-3" style="float: left; margin-bottom: 15px">
                <div id="in-book" class="row">
                    <div class="image">
                        {% if book.image %}
                        <a href="{% url 'catalog:detail' book.id %}" id="books">
                            <img src="{{MEDIA_URL}}{{ book.image.url }}" id="img-book">
                        </a>
                        {% else %}
                        <p>Изображение отсутствует</p>
                        {% endif %}
                    </div>
                    <div class="title">
                        <a href="{% url 'catalog:detail' book.id %}" id="books"><b>{{ book.title }}</b></a>
                    </div>
                    <div class="author">{{ book.display_author }}</div>
                    <div class="cost"><b>{{ book.cost }} ₽</b></div>
                    <div class="buttons">
                        <a href="{% url 'catalog:detail' book.id %}" style="text-decoration: none">
                            <button class="btn btn-primary" type="button" id="detail">Подробнее</button>
                        </a>
                        <button class="btn btn-primary" type="submit" id="order">Заказать</button>
                    </div>
                </div>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <p>Нет жанров!</p>
    {% endif %}
</div>
{% endblock %}