{% extends "base_generic.html" %}

{% block content %}
<div style="font-family: 'montserratthin Regular 400'; font-size: 38px; margin-bottom: 15px; padding-left: 19px"><b>Главная
    страница</b></div>
<div class="row"
     style="background-color: blanchedalmond; height: 300px; text-align: center; line-height: 300px; font-size: 30px; opacity: 0.6">
    <div class="col-sm-12">
        Тут будет слайдер с рекламой и акциями
    </div>
</div>
{% if latest_books_list %}
<div class="row">

    <div class="col-sm-12" style="padding-left: 0; padding-right: 0">
        <div style="font-family: 'montserratthin Regular 400'; font-size: 28px; margin-bottom: 15px; margin-top: 15px ; padding-left: 19px">
            <b>В нашем магазине появились</b>
        </div>
        <ul class="line">
            {% for book in latest_books_list %}
            <li class="col-sm-2" style="float: left; margin-bottom: 15px">
                <div class="row"
                     style="width: 95%; height: 390px; border-style: solid; border-width: thin; border-radius: 5px; border-color: #E1DDE0; padding: 10px 0">
                    <div class="image">
                        {% if book.image %}
                        <img src="{{MEDIA_URL}}{{ book.image.url }}">
                        {% else %}
                        <p>Изображение отсутствует</p>
                        {% endif %}
                    </div>
                    <div class="title"><b>{{ book.title }}</b></div>
                    <div class="author">{{ book.display_author }}</div>
                    <div class="cost"></div>
                    <div class="bottom"></div>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>

</div>
{% else %}
<p>Нет книг</p>
{% endif %}
<h2>Популярные</h2>
<h3>...</h3>
<h3>...</h3>
{% endblock %}